---
title: Ember Island Article Placeholder
date: 2016-08-09
tags: ember-islands placeholder
published: false
---

This is an placeholder article. It will link to an article which incorporates an ember application . . . soon

<div
    data-component='user-profile'
    data-attrs='{"name": "Sally User", "id": "4"}'>

  <p>Sally likes hiking in the wilderness</p>

</div>
